# making the dataset easier to read and understand

In [13]:
import pandas as pd

# Step 1: Read CSV file into a pandas DataFrame
csv_file = './Bank_Train.csv'  # Replace with your CSV file path
df = pd.read_csv(csv_file)

# Display the original DataFrame
print("Original DataFrame:")
df.info()

Original DataFrame:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 108600 entries, 0 to 108599
Data columns (total 21 columns):
 #   Column           Non-Null Count   Dtype
---  ------           --------------   -----
 0   AccountID        108600 non-null  int64
 1   Status           108600 non-null  int64
 2   Customer_Value   108600 non-null  object
 3   Demog_Age        81143 non-null   float64
 4   Home_Flag        108600 non-null  int64
 5   Demog_Homeval    108600 non-null  int64
 6   demog_inc        108600 non-null  int64
 7   demog_pr         108600 non-null  int64
 8   Activity_Status  108600 non-null  object
 9   AvgSale3Yr       108600 non-null  float64
 10  AvgSaleLife      108600 non-null  float64
 11  AvgSale3Yr_DP    85445 non-null   float64
 12  LastProdAmt      108600 non-null  float64
 13  CntPur3Yr        108600 non-null  int64
 14  CntPurLife       108600 non-null  int64
 15  CntPur3Yr_DP     108600 non-null  int64
 16  CntPurLife_DP    108600 non-null  int64
 17  CntTotPromo      108600 non-null  int64
 18  MnthsLastPur     108600 non-null  int64
 19  Cnt1Yr_DP        108600 non-null  int64
 20  CustTenure       108600 non-null  int64
dtypes: float64(5), int64(14), object(2)
memory usage: 17.4+ MB

In [19]:
# Step 2: Define column mappings as a dictionary
column_mappings = {
    3: 'Age',    
    5: 'Homeval',
    6: "Inc",
    7: "Pr",
}

# Step 3: Modify column names using the defined mappings
for old_index, new_name in column_mappings.items():
    df.columns.values[old_index] = new_name

print(df)

         AccountID  Status Customer_Value   Age  Home_Flag  Homeval    Inc  \
0       5200000001       1              A   NaN          0    57600  52106
1       5200000002       1              A   NaN          0    57587  52106
2       5200000003       1              A   NaN          0    44167  42422
3       5200000004       0              A  68.0          0    90587  59785
4       5200000005       0              A   NaN          0   100313      0
...            ...     ...            ...   ...        ...      ...    ...
108595  5200108596       0              D  44.0          0   112610  33937
108596  5200108597       0              B   NaN          1    68590  44412
108597  5200108598       1              C  75.0          0    57000  42408
108598  5200108599       0              C   NaN          0    75190      0
108599  5200108600       1              C  69.0          0    64334      0

        Pr Activity_Status  AvgSale3Yr  ...  AvgSale3Yr_DP  LastProdAmt  \
0       24            High        5.71  ...           5.25         10.0
1       24            High        5.71  ...           5.25         10.0
2        0            High       12.80  ...          13.00         12.0
3       32            High       21.60  ...          20.00         25.0
4        0            High        7.33  ...           7.60         10.0
...     ..             ...         ...  ...            ...          ...
108595  15         Average       13.00  ...          16.00         10.0
108596  37            High       19.33  ...          20.00         20.0
108597   0            High        3.80  ...           4.33          3.0
108598  44            High       17.50  ...          15.00         15.0
108599  45            High       12.50  ...          12.50         17.0

        CntPur3Yr  CntPurLife  CntPur3Yr_DP  CntPurLife_DP  CntTotPromo  \
0               7          22             4              6           20
1               7          22             4              6           20
2               5          16             3              8           27
3               5          21             2              7           19
4               6          38             5             19           13
...           ...         ...           ...            ...          ...
108595          2          15             1             11           10
108596          3          21             1             13           12
108597          5          31             3             14           13
108598          2           3             1              2           12
108599          4           5             4              5           12

        MnthsLastPur  Cnt1Yr_DP  CustTenure
0                  5          9          92
1                  5          9          92
2                 16         11          91
3                 15          9         123
4                 24          6         128
...              ...        ...         ...
108595            25          5         105
108596            19          6         126
108597            16          5          97
108598            19          6          37
108599            17          6          41

[108600 rows x 21 columns]

In [20]:
# Step 3: Export the modified DataFrame back to a CSV file in the same directory
output_csv_file = 'bank.csv'  # New CSV file name

df.to_csv(output_csv_file, index=False)

print(f"\nModified DataFrame exported to '{output_csv_file}'")

Modified DataFrame exported to 'bank.csv'